.text-input {
  color: #C5FFFD;
  text-align: center;
  font-weight: 700;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #C5FFFD;
  font-size: 2rem;
  padding: 0.5rem;
  outline: none;
}
